In [1]:
import numpy as np
import pandas as pd
# Users/Pashlene/Desktop/pulsar.csv
data_intial = pd.read_csv('/Users/Pashlene/Desktop/pulsar.csv')
columns_name=data_intial.columns.tolist()
column_name=columns_name[:-1]
print(column_name)
data_intial.head()

['mean_int_pf', 'std_pf', 'ex_kurt_pf', 'skew_pf', 'mean_dm', 'std_dm', 'kurt_dm', 'skew_dm']

,mean_int_pf,std_pf,ex_kurt_pf,skew_pf,mean_dm,std_dm,kurt_dm,skew_dm,class
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

In [7]:
# Quantization Noise

perecentage=10
data1=data_intial

def add_noise(data,percentage):
    num_samples=data.shape[0]
    num_samples_to_select = int(percentage/100 * num_samples)
    selected_indices = np.random.choice(num_samples, num_samples_to_select, replace=False)
    
    if percentage < 100 and percentage >=0:
        for column in column_name:
            for index in selected_indices:
                data.loc[index, column] = int(data.loc[index, column].round())
                
        return True
        
    else :
        return False
    
add_noise(data1,10)

True

In [8]:
data10=data_intial.copy()
data20=data_intial.copy()
data30=data_intial.copy()
data40=data_intial.copy()
data50=data_intial.copy()

In [9]:
def generate_data(data_Name,percentage):
    add_noise(data_Name,percentage)
    return data_Name

In [ ]:
#datasets created with different pecentages of noise injected in dataset 
#d10 means 10% of dataset has injected quantized noise
d10=generate_data(data10,10,0,0.2)
d20=generate_data(data20,20,0,0.2)
d30=generate_data(data30,30,0,0.2)
d40=generate_data(data40,40,0,0.2)
d50=generate_data(data50,50,0,0.2)

In [10]:
# just an example
d99=generate_data(data10,99)
d99.head()

,mean_int_pf,std_pf,ex_kurt_pf,skew_pf,mean_dm,std_dm,kurt_dm,skew_dm,class
0,141.0,56.0,0.0,-1.0,3.0,19.0,8.0,74.0,0
1,103.0,59.0,0.0,-1.0,2.0,15.0,11.0,127.0,0
2,103.0,39.0,0.0,1.0,3.0,22.0,8.0,63.0,0
3,137.0,57.0,0.0,-1.0,4.0,21.0,7.0,54.0,0
4,89.0,41.0,1.0,1.0,1.0,11.0,14.0,253.0,0